/* CUSTOM MARGINS */
.brand-link .brand-image {
    width: 150px !important;
    max-height: 43px !important;
}

.mt-30 {
    margin-top: 30px;
}

.content-wrapper {
    background-color: #f4f6f9;
}

.cuisine_card>.widget-user-header {
    background-size: cover;
}

.cuisine_card>.card-footer {
    padding-top: 10px;
}

.empty-img {
    padding-top: 100px;
}

.empty-img img {
    height: 100px;
}

.empty-title {
    padding: 6px;
}

.hidden {
    display: none;
}

.min-height-58 {
    min-height: 58px;
}

/* Making the width to 100%, so that we can put button on right */
.card-title {
    width: 100%;
}

.action-dropdown {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: #fff;
    background-color: #B0BEC5;
    border-color: #B0BEC5;
    box-shadow: none;
}

.action-dropdown:hover {
    color: #fff;
    background-color: #78909C;
    border-color: #78909C;
}

.light-thumb-circle {
    border: 3px solid #f0f3f2;
    object-fit: cover;
}

.btn-rounded {
    border-radius: 20px;
}

.square-100 {
    height: 100px;
    width: 100px;
}

/* LIGHTEN CSS */
.lighten-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.lighten-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.lighten-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.lighten-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.lighten-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.lighten-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.lighten-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.lighten-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.select2 {
    width: 100% !important;
}

.summernote-custom-styles {
    width: 100%;
    height: 250px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dddddd;
    padding: 10px;
}

.graph-style {
    width: 100%;
    height: 400px;
}

.form-control:disabled,
.form-control[readonly] {
    background: none;
}

.alert a,
.text-dec-none {
    text-decoration: none;
}

.mfp-counter {
    display: none;
}

.min-height-266 {
    min-height: 266px;
}

.custom-info-box-icon {
    width: 40px;
    border-radius: .25rem;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    justify-content: center;
    text-align: center;
}

.bg-none {
    background: none;
}

.font-weight-500 {
    font-weight: 500;
}

.opacity-80 {
    opacity: .8
}
.mt-200 {
    margin-top: 200px;
}

.text-spinner {
    background-color: rgba(0, 0, 0, 0);
    color: #007bff;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    text-align: center;
    left: 0;
    top: 0;
}

.text-spinner img {
    margin: 20% auto;
    width: 100px;
}