.calendar, .calendar_weekdays, .calendar_content {
    max-width: 300px;
}
.calendar {
    margin: auto;
    font-family:'Muli', sans-serif;
    font-weight: 400;
}
.calendar_content, .calendar_weekdays, .calendar_header {
    position: relative;
    overflow: hidden;
}
.calendar_content {
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.calendar_weekdays {
    padding: .5rem 0;
    border: 1px solid #ddd;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.calendar_weekdays div {
    display:inline-block;
    vertical-align:top;
    text-transform: uppercase;
}
.calendar_weekdays div, .calendar_content div {
    width: 14.28571%;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    font-size: 14px;
}

.calendar_content div {
    padding: 10px 0;
    background-color: #0da166;
    color: #fff;
}

.calendar_content .past-date, .calendar_content .blank {
    background-color: transparent !important;
}

.calendar_content div {
    border: 1px solid transparent;
    float: left;
}
.calendar_content div:hover {
    border: 1px solid #dcdcdc;
    cursor: default;
}
.calendar_content div.blank:hover {
    cursor: default;
    border: 1px solid transparent;
}
.calendar_content div.past-date {
    color: #d5d5d5;
}
.calendar_content div.today {
    font-weight: bold;
    font-size: 14px;
    color: #fff !important;
    /* border: 1px solid #dcdcdc; */
}
.calendar_content div.selected {
    background-color: #f0f0f0;
}
.calendar_header {
    width: 100%;
    text-align: center;
}
.calendar_header h2 {
    padding: 0 10px;
    font-family:'Muli', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #1b1f23;
    float:left;
    width:70%;
    margin: 0 0 10px;
    padding-top: 8px;
}
button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    color: #dcdcdc;
    float: left;
    width:15%;
    transition: color .2s;
}
button.switch-month {
    cursor: pointer;
    font-size:25px;
}
button.switch-month:hover {
    color: #1b1f23;
}