.auth-logo {
    height: 60px;
}


/* USER ROLE CHOOSING VIEW CSS STARTS */

.wrap-login600 {
    width: 900px;
    background: #fff;
    /* border-radius: 10px; */
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.button-images {
    max-width: 1000px;
}

.button-container {
    position: relative;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ECEFF1;
}

.button-container A:before {
    content: '';
    display: inline-block;
    height: 48%;
}

.button-container a {
    transition: all 1s ease-out;
    background: rgb(67 197 113 / 14%);
    border-radius: 50%;
    vertical-align: middle;
    padding: 5%;
    color: #FFFFFF;
    position: absolute;
    font-size: 23px;
    font-weight: 800;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.button-container A:hover {
    background: none;
    opacity: 0;
    border: 5px solid #424242;
}

.button-container img {
    width: 100%;
    height: auto;
    display: block
}


/*Columns*/

.clearboth {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}


/* USER ROLE CHOOSING VIEW CSS ENDS */


/* CONFUSED CSS*/

.confused {
    height: 150px;
    width: 150px;
    margin-top: 15px;
}


/* LOGIN AS BUTTOS CSS */

.login-as-btn-area {
    margin-bottom: 10px;
}

.login-as-btn-area table tr td {
    padding: 5px;
}

.login-as-btn-area button {
    height: 25px;
    border-radius: 4px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    font-size: 10px;
    text-transform: capitalize;
    width: 100%;
}

.login-as-btn-area .login-as-admin {
    background-color: #2196F3;
}

.login-as-btn-area .login-as-owner {
    background-color: #2196F3;
}

.login-as-btn-area .login-as-customer {
    background-color: #2196F3;
}

.login-as-btn-area .login-as-driver {
    background-color: #2196F3;
}

.login-as-btn-area button:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

.auth-logo-background {
    /* background: rgba(0, 0, 0, 0.8); */
    background-color: rgb(35 47 62);
    /* border-radius: 8px; */
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 20px 0px rgb(0 0 0 / 60%);
}

.wrap-input100 .input100::placeholder {
    color:#6E6E6E !important;
}
.top-hr {
    border-top: 1px solid #BEC0C2;
}
.ft-hero-control {
    border-radius: 0 !important;
    border: 1px solid #bec0c2;
    /* height: 45px; */
}
#password_strength_check {
    margin-top: 1px;
    width: 100%;
    height: 4px;
}

#password_strength_check + span {
    padding: 2px 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: normal;
    font-style: italic;
    color: #fff;
}
.short {
    background: #ED1B60;
}
.short + span {
    background:#ED1B60;   
}
.weak {
    background: #FFBF36;
}
.weak + span {
    background:#FFBF36;   
}
.good {
    background: #0092EE;
}
.good + span {
    background:#0092EE;   
}
.strong {
    background: #22AF47;
}
.strong + span {
    background:#22AF47;   
}
.wrap-input100 .form-field-description {
    font-size: 13px !important;
}
.with-errors {
    font-size: 13px;
    color: #d13212;
}
.grecaptcha-badge {
    z-index: 1;
}
.font-bolder {
    font-weight: bolder;
}
.su-font-18 {
    font-size: 18px;
}
.placeholder-font-italic::placeholder {
    font-style: italic;
}
.placeholder-font-italic::-moz-placeholder {
    font-style: italic;
}
.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.checkbox-green input[type="checkbox"]:checked + label::before, .checkbox-green input[type="radio"]:checked + label::before {
    background-color: #1D8354;
    border-color: #1D8354;
}
.checkbox-green input[type="checkbox"]:checked + label::after, .checkbox-green input[type="radio"]:checked + label::after {
    color: #fff;
}
.checkbox input[type="checkbox"]:checked + label::after, .checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 2.5px;
    border: 1px solid #cccccc;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    padding-top: 0;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 3px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.checkbox {
    position: relative;
    display: block;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
}
.with-errors i {
    margin-right: 12px;
}
.su-footer a {
    font-size: 13px;
}
.g-recaptcha {
    transform:scale(0.93);
    -webkit-transform:scale(0.93);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}
@media(max-width: 480px) and (min-width: 320px) {
    .g-recaptcha {
        transform:scale(1);
        -webkit-transform:scale(1);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}
@media(max-width: 320px) {
    .g-recaptcha {
        transform:scale(0.86);
        -webkit-transform:scale(0.86);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}
.si-footer-text {
    font-size: 14px;
}
.si-footer-text a {
    font-size: 14px;
}
.bft-alert-text {
    color: #000;
}
.bft-alert-text a {
    color: #1b8659;
    font-size: 14px;
}